.container {
  flex: 1;
  background-color: #fff;
}

.viewContainer {
  flex: 1;
  padding: 32px;
}

.categoryTitle {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 18px;
}

.row {
  flex-direction: row;
  justify-content: space-between;
}
